<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Student</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container my-2" align="center">

    <h3>Student List</h3>
    <a th:href="@{/student/addnew}" class="btn btn-primary btn-sm mb-3" >Add Student</a>
    <table style="width:80%" border="1"
           class = "table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Full Name</th>
            <th>Phone Number</th>
            <th>Age</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student:${allStudentlist}">
            <td th:text="${student.fullName}"></td>
            <td th:text="${student.phoneNumber}"></td>
            <td th:text="${student.age}"></td>
            <td> <a th:href="@{/student/showFormForUpdate/{id}(id=${student.id})}"
                    class="btn btn-primary">Update</a>
                <a th:href="@{/student/deleteStudent/{id}(id=${student.id})}"
                   class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
